[submodule "public"]
	path = public
	url = https://github.com/godouxm/godouxm.github.io.git
	branch = master
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/lucperkins/hugo-fresh
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-redlounge"]
	path = themes/hugo-redlounge
	url = https://github.com/tmaiaroto/hugo-redlounge.git
[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
[submodule "themes/hugo-identity-theme"]
	path = themes/hugo-identity-theme
	url = https://github.com/aerohub/hugo-identity-theme
[submodule "themes/hugo-smpl-theme"]
	path = themes/hugo-smpl-theme
	url = https://github.com/christianmendoza/hugo-smpl-theme
[submodule "themes/hugo-theme-air"]
	path = themes/hugo-theme-air
	url = https://github.com/syui/hugo-theme-air
